@use './mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.tarjeta {
    @include centrar;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    width: 300px;

    &__imagen {
        width: 260px;
        border-radius: 15px;
        display: block;
        margin: 1px auto;
    }

    &__title {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 28px;
    }

    &__parrafo {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-bottom: 20px;
        color: #9d9696;
    }
}